{% extends "blog/base.html" %}
{% block content %}
    <h3>Change Your Password</h3>
    {% if form.errors %}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="alert alert-warning alert-dismissible fade show w-50  d-block" role="alert">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Old Password</label>
        <input type="password" class="form-control mb-1" name="old_password" autocomplete="new-password" required
               id="id_old_password"
               placeholder="Enter Old Password"/>
        <label>New Password</label>
        <input type="password" class="form-control mb-1" name="new_password1" autocomplete="new-password"
               required id="id_new_password1"
               placeholder="Enter New Password"/>
        <label for="id_new_password2">New Password Confirmation</label>
        <input type="password" class="form-control mb-1" name="new_password2" autocomplete="new-password"
               required id="id_new_password2" placeholder="Confirm New Password"/>
        <button type="submit" class="btn btn-primary btn-lg" id="reset">Update Password</button>
    </form>
{% endblock content %}