{% extends "blog/base.html" %}
{% block content %}
    <h3>Change Your Password</h3>
    {% if form.errors %}
        <div role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Old Password</label>
        <input type="password" name="old_password" autocomplete="new-password" required id="id_old_password"
               placeholder="Enter Old Password"/>
        <br>


        <label>New Password</label>
        <input type="password" name="new_password1" autocomplete="new-password"
               required id="id_new_password1"
               placeholder="Enter New Password"/>

        <br>

        <label for="id_new_password2">New Password Confirmation</label>
        <input type="password" name="new_password2" autocomplete="new-password"
               required id="id_new_password2" placeholder="Confirm New Password"/>

        <br>
        <button type="submit" id="reset">Update Password</button>
    </form>
{% endblock content %}