{% extends "blog/base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
    <h2> Sign Up </h2>
    {% if form.errors %}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="alert alert-warning alert-dismissible fade show w-50  d-block" role="alert">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        Username: {{ form.username }}
        E-Mail:{{ form.email }}
        First Name:{{ form.first_name }}
        Last Name: {{ form.last_name }}
        Password: {{ form.password1 }}
        {{ form.errors.password }}
        Confirm Password: {{ form.password2 }}
        <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
    </form>
    <a href="/accounts/login/">Have an account? Go to Sign in</a>
{% endblock %}